<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_ingredients">
        <h1 class="page-title">Les ingredients</h1>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">
                                <form action="#" novalidate>
                                    <div class="filter">
                                        <p><label for="">Nom de l'ingrédient</label></p>
                                        <p><input type="text" placeholder="ex: Banane" ng-model="SearchByName"></p>
                                    </div>
                                    <div class="filter">
                                        <p><label for="">Catégorie</label></p>
                                        <p>
                                            <select ng-model="FilterIngredient.category"
                                                    ng-options="cat.id for cat in categories | orderBy : id"></select>
                                        </p>
                                    </div>
                                    <div class="filter">
                                        <p><label for="">Nombre de calories <span class="fwn">(kcal/100g)</span></label>
                                        </p>
                                        <p>

                                            <span class="span-label">entre :</span>
                                            <input type="number" class="mr0" ng-model="calMin" placeholder="ex: 70">

                                            <span class="span-label">et</span>
                                            <input type="number" ng-model="calMax" placeholder="ex: 220">

                                        </p>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="result">

                    <div class="ingredients row">
                        <!--
                        <p class=" col-xs-12 blank">Aucun ingrédient ne correspond à votre recherche</p>
                        -->

                        <div class="col-xs-12 ingredient"
                             ng-repeat="ing in ingredients | filter:{ id:SearchByName} | filter:{category:FilterIngredient} | limitTo: Limitingredient">
                            <div class="ing-wrap">
                                <div class="top">
                                    <p class="name">{{ing.id}}</p>
                                    <p class="category">{{ing.category}}</p>
                                    <img class="img" src="img/ingredients/{{ing.picture}}" alt="Poulet">
                                    <div class="calories-wrap">
                                        <div class="val">
                                            <span>{{ing.calories}} / {{ing.calories * 100 / getSumCalorie() | number : 2}}kcal</span>
                                            <div class="battery">
                                                <!-- pourcentage ci-dessous à moduler en fonction du nombre de calories de l'ingredient sur nombre de calories max -->
                                                <div class="level"
                                                     style="width:{{ing.calories * 100 / getSumCalorie()}} %;"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bot">
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo
                                        pariatur obcaecati ut, sit veniam molestias eius cum. Facere quibusdam laborum
                                        doloribus, incidunt omnis ipsum alias vel est molestiae.</p>
                                    <div class="list">
                                        <p class="list-title">Aliments similaires</p>
                                        <ul>
                                            <li class="item"
                                                ng-repeat="Al in ingredients | filter:ing.category | filter:Al !== ing | limitTo: 3 ">
                                                <img class="item-img" src="img/ingredients/{{Al.picture}}" alt="Boeuf">
                                                <p class="item-name" title="Boeuf">{{Al.name}}</p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row showmore">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn_color1"
                                ng-click="Limitingredient = Limitingredient  + Limitingredient "><span
                                class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>