<div class="col-xs-12 col-sm-9" ng-controller="DetaillRecetteController">
	<div class="content" id="content_recettes_details">

		<section class="section">
			<div class="row">
				<div class="col-xs-4">

					<img class="recette_img" ng-src={{recettes_details.picture}} alt="Le tajine de ta maman">
				</div>
				<p> </p>
				<div class="col-xs-8">
					<h1 class="rec_name">{{recetteId}}</h1>
					<p class="rec_note">
                        <span class="stars">
					<p> </p>
					<span class="star glyphicon glyphicon-heart" ng-repeat="n in getTotalNote(recetteId)" ></span>
					</span>
					<span class="notes">{{ getTotalNote(recetteId).length | number:1 }} | {{notee}}  votes</span>
					</p>
					<div class="ingredients_list">
						<p class="list-title">Ingrédients</p>
						<ul class="list">
							<li class="item" ng-repeat="ingredient in getIngredient(recetteId)">
								<img class="item-img" src="img/ingredients/{{ingredient}}.jpg" alt="{{ingredient}}">
								<p class="item-name" title="tomate">{{ingredient}}</p>
							</li>

						</ul>
					</div>
					<p class="rec_cal">Valeur calorique <span class="for">(100g)</span> : <span class="val">    {{getCalorie(recetteId)}}  kcal</span></p>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="overline-title"><span class="text">Préparation</span></h2>
				</div>
				<div class="col-xs-12">
                    <div  ng-bind-html="com"></div>
                   
				</div>
			</div>
		</section>

		<section class="section">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="overline-title"><span class="text">Commentaires</span></h2>
				</div>
				<div class="col-xs-12 col-sm-6" ng-hide="!authenticated">
					<div class="panel">
						<div class="filters">
							<h3 class="panel_title">Donnez-nous votre avis !</h3>
							<form action="">
								<div class="filter">
									<p><label for="">Notez cette recette</label></p>
									<p>
										<select ng-model="myselect" ng-options="o as o for o in [1,2,3,4,5]"></select>
									</p>
								</div>
								<div class="filter">
									<p><label for="">Le titre de votre commentaire</label></p>
									<p><input type="text" placeholder="ex: Amazingue !" required></p>
								</div>
								<div class="filter">
									<p><label for="">Votre commentaire</label></p>
									<textarea name="" id="" class="wide" placeholder="ex: Franchement cette NgRecette, c’est de la bombe. Le genre de saveurs qui t’éveillent les papilles, t’as vu ! Woula, j’ai kiffé" required></textarea>
								</div>
								<div class="ar">
									<input type="submit" class="btn btn_color1" value="Poster !">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-xs-12 ">
					<ul class="comments">
						<li class="comment" ng-repeat="comm in recettes_details.comments |limitTo: Limicom">
							<p class="name">{{comm.title}}<span class="note">{{ getTotalNote(recetteId).length}}/5</span></p>
							<p class="by">par:   {{UsercreateRec(recettes_details.creatorId).firstname}}

								<a href="#/recettes_details/{{recette.id}}">{{recettes_details.comments.userId}}</a></p>
							<p class="text">{{comm.comment}}</p>
						</li>

					</ul>
					<div class="row showmore">
						<div class="col-xs-12">
							<button type="button" class="btn btn_grey" ng-hide="recettes_details.comments.length < 6" ng-click="Limicom = Limicom  + 5"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<h2 class="title">~ Vous aimerez aussi... ~</h2>
			<div class="recettes row">
				<div class="col-xs-6 col-sm-3 recette" ng-repeat="recette in recettes | orderBy:'averageMark':true | limitTo: 4">
					<a href="#/recettes_details/{{recette.id}}">
						<img src={{recette.picture}} alt="Le tajine de ta maman">
						<div class="top" title="note :{{recette.avergeMark}}">
                            <span class="note">
											<span class="glyphicon glyphicon-heart" ng-repeat="n in getTotalNote(recette.id)"></span>


                            </span>
						</div>
						<div class="bot">
							<p class="name">{{recette.id}}</p>
						</div>
					</a>
				</div>

			</div>
		</section>

	</div>
</div>