
				<div class="col-xs-12 col-sm-9">
					<div class="content" id="content_recettes_new">

						<h1 class="page-title">Nouvelle recette</h1>

						<section class="section">
							<form action="#">
								<div class="row">
									<div class="col-xs-6">
										<p class="line">
											<label for="">Le nom de votre recette</label>
											<input type="text" class="mb0 wide" ng-model="NameRecette" required>
										</p>
										<p class="line">
											<label for="">Catégorie</label>
											<select ng-model="myCategorie1" ng-options="cat.id for cat in categories | orderBy : id"></select>
										</p>
										<p class="line">
											<label for="">Préparation de votre recette</label>
											<textarea id="recette_desc" class="resizable mb0 wide" required></textarea>
										</p>
									</div>
									<div class="col-xs-6">
										<p class="line">
											<label for="">Photo de la recette</label>
											<input type="file" class="mb0">
										</p>
										<p class="line ac">
											<img class="current_img" src="img/recette_placeholder.jpg" alt="Visuel recette">
										</p>
									</div>
									<div class="col-xs-12">
										<div class="hr mt2 mb2"></div>
									</div>
									<div class="col-xs-12">
										<p class="line ac">
											<label for="">Sélectionnez tous les ingrédients de votre recette</label>
										</p>
										<p class="ac">

											<select ng-model="myCategorie" ng-options="cat.id for cat in categories | orderBy : id"></select>
											<span class="span-label"><span class="glyphicon glyphicon-menu-right nm"></span></span>

											<select ng-model="myIngredient" ng-options="ing.id for ing in aux = (ingredients | filter:{ category:myCategorie.id})"></select>



											<button type="button" class="btn btn_color3" ng-click="addItem(myIngredient.id)"><span class="glyphicon glyphicon-plus"></span></button>
										</p>
										<div class="ingredients_list">
											<ul class="list ac">
												<li class="item" ng-repeat="item in items">
													<img class="item-img" src="img/ingredients/{{item.picture}}" alt="tomate">
													<p class="item-name" title="tomate">{{item.name}}</p>
													<button type="button" class="remove_ingredient" ng-click="deleteItem($index)"><span class="glyphicon glyphicon-remove"></span></button>
												</li>

											</ul>
										</div>
										<div class="ac">
											<p class="recette_total_calories">
												<span class="tit">Valeur calorique <span class="mass">(100g)</span> : </span><span class="val">{{SumCal}}<span class="unit">kcal</span></span>
											</p>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="hr mb2"></div>
									</div>
									<div class="col-xs-12 ac">
										<button type="button" class="btn btn_color3 recette_save" ng-click="AjouterRecette(NameRecette)"><span class="glyphicon glyphicon-ok mr0"></span><span>Valider ma recette</span></button>
									</div>

									<!-- Afficher au clic sur "valider ma recette" lorsque tout s'est bien déroulé -->
									<div class="col-xs-12" ng-show="Valider" >
										<p class="ac mt2 tb">
											<span class="glyphicon glyphicon-thumbs-up color3"></span>
											<span>Votre recette a bien été ajoutée !</span>
										</p>
										<p class="ac">
											<a class="btn btn_color1" href="communaute_details.html"><span class="glyphicon glyphicon-cutlery"></span><span>Mes recettes</span></a>
										</p>
									</div>

									<!-- Afficher au clic sur "valider ma recette" si certains éléments sont manquants -->
									<div class="col-xs-12"  ng-show="PasValider">
										<p class="ac mt2 tb">
											<span class="glyphicon glyphicon-exclamation-sign color2"></span>
											<span>Woops ! Votre recette est super foireuse</span>
										</p>
										<p class="ac">Vous avez dû oublier quelque chose...</p>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
